/* Newsletter */
.newsletter {
    background:#3b3531 ;
    color:#ffffff;
    padding: 30px;
    margin-top: 40px;
    text-align: center;

}

.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.newsletter-form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.newsletter-form button {
    background: #84c225 ;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
