/* Social Media */
.social-media {
    margin-top: 30px;
    text-align: center;
}

.btn {
    background: #84c225;
    color: white;
    padding: 12px;
    border: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn {
    background: #84c225;
    color: white;
    padding: 12px;
    border: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}